
  div {
    margin-bottom: 10px;
  }
  label {
    display: inline-block;
    width: 150px;
    
  }
  input {
    padding: 5px 10px;
    box-sizing: border-box;
  }


  .form-input {
    width:450px;
    padding:20px;
    background:#fff;
    box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
                3px 3px 7px rgba(94, 104, 121, 0.377);
  }
  .form-input input {
    display:none;
  }
  
  .form-input label {
    display:block;
    width:45%;
    height:45px;
    margin-left: 25%;
    line-height:50px;
    text-align:center;
    
    font-size:15px;
    font-family:"Open Sans",sans-serif;
    text-transform:Uppercase;
    font-weight:600;
    border-radius:5px;
    cursor:pointer;
  }